@import "tailwindcss";

:root {
  --background: #fcfcfc;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-inter: var(--font-inter);
}

body {
  background: #fcfcfc;
  color: #000000;
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
